<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>S3 파일 업로드 테스트</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/weno.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/fancybox.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
</head>

<body>
<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="header-bar d-flex d-lg-block align-items-center" data-aos="fade-left">
        <div class="site-logo">
            <a href="#">UPLOAD CENTER</a>
        </div>

        <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;">
            <a href="#" class="site-menu-toggle js-menu-toggle text-white">
                <span class="icon-menu h3"></span>
            </a>
        </div>

        <div class="main-menu">
            <ul class="js-clone-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="https://sazaxa.com/index.php">SAZAXA</a></li>
                <li><a href="https://sazaxa.com/admin/login.php">ADMIN</a></li>
            </ul>
        </div>
    </header>

    <div class="drag-box">
        <form>
            <div class="drag-img">
                <!--        <label for="fileselect">Files to upload:</label>-->
                <input type="file" id="fileselect" name="files" multiple="multiple" hidden/>
                <div id="filedrag" class="drop">
                    <div id="drop-text">DROP FILES HERE</div>
<!--                    <img id="container"/>-->
<!--                    <div id="thumbnails"></div>-->
                </div>
            </div>
            <!--    <button id="btnSubmit">등록하기</button>-->
        </form>
    </div>

    <div class="img-box">
        <div id="data-container"></div>
        <div id="pagination"></div>
    </div>

</div>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.724.0.min.js"></script>
<script th:src="@{/js/app.js}"></script>

<!-- AWS S3 이미지 불러오기 및 Paging-->
<script th:src="@{/js/filedrag.js}"></script>
<script>
    $(function () {
        viewAlbum("", (result) => {
            data = new Array();
            for (var i = 0; i < result.length; i++) {
                data.push({name: result[i]});
            }
            let container = $('#pagination');
            container.pagination({
                dataSource: data,
                pageSize: 35,
                callback: function (data, pagination) {
                    var dataHtml = '<ul id="upload-img-ul">';
                    $.each(data, function (index, item) {
                        dataHtml += '<li id="upload-img-li">';
                        dataHtml += '<img class="upload-img"  onclick="copyFunction(this)"  src = "' + item.name + '">';
                        // dataHtml += '<button onclick="copyFunction(this)" >' + item.name + '</button>';
                        dataHtml += '</li>';
                    });
                    dataHtml += '</ul>';
                    $("#data-container").html(dataHtml);
                }
            })
        })
    })
</script>


<!-- 토스트 이미지 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
      integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
      crossorigin="anonymous"/>


<!-- drag & drop -->
<script>
    var uploadFiles = [];
    var $drop = $(".drop");
    $drop.on("dragenter", function (e) { //드래그 요소가 들어왔을떄
        $(this).addClass('drag-over');
    }).on("dragleave", function (e) { //드래그 요소가 나갔을때
        $(this).removeClass('drag-over');
    }).on("dragover", function (e) {
        e.stopPropagation();
        e.preventDefault();
    }).on('drop', function (e) { //드래그한 항목을 떨어뜨렸을때
        e.preventDefault();
        $(this).removeClass('drag-over');
        var files = e.originalEvent.dataTransfer.files; //드래그&드랍 항목
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var size = uploadFiles.push(file); //업로드 목록에 추가
            preview(file, size - 1); //미리보기 만들기
        }

        var formData = new FormData();
        $.each(uploadFiles, function (i, file) {
            //if (file.upload != 'disable')
            //삭제하지 않은 이미지만 업로드 항목으로 추가
            formData.append('upload-file', file, file.name);
        });

        $.ajax({
            url: '/gallery',
            data: formData,
            type: 'post',
            contentType: false,
            processData: false,
            success: function (ret) {
                location.href = "/gallery";
            }
        });
    });

    function preview(file, idx) {
        var reader = new FileReader();
        reader.onload = (function (f, idx) {
            return function (e) {
                var temp2 = document.createElement('div');
                temp2.innerHTML = '<div class="thumb"> \
<div class="close" data-idx="' + idx + '">X</div> \
<img src="' + e.target.result + '" title="' + escape(f.name) + '"/> \
</div>';
                $("#thumbnails").append(temp2);
            };
        })(file, idx);
        reader.readAsDataURL(file);
    }


    <!-- copy & paste-->
    document.onpaste = function (pasteEvent) {
        // consider the first item (can be easily extended for multiple items)
        var item = pasteEvent.clipboardData.items[0];

        if (item.type.indexOf("image") === 0) {
            var file = item.getAsFile();

            uploadFiles.push(file);

            var reader = new FileReader();
            reader.onload = function (event) {
                var temp1 = document.createElement('div');
                temp1.innerHTML = '<div class="thumb"> \
<div class="close" >X</div> \
<img src="' + event.target.result + '"> \
</div>';
                $("#thumbnails").append(temp1);

            };

            reader.readAsDataURL(file);
        }

        var formData = new FormData();
        $.each(uploadFiles, function (i, file) {
            //if (file.upload != 'disable')
            //삭제하지 않은 이미지만 업로드 항목으로 추가
            formData.append('upload-file', file, file.name);
        });

        $.ajax({
            url: '/gallery',
            data: formData,
            type: 'post',
            contentType: false,
            processData: false,
            success: function (ret) {
                location.href = "/gallery";
                // alert("완료");
            }
        });

    }


    function copyFunction(copyUrlTemp) {
        var copyUrl = copyUrlTemp.getAttribute('src');
        var tempElem = document.createElement('textarea');
        tempElem.value = copyUrl;
        document.body.appendChild(tempElem);

        tempElem.select();
        document.execCommand("copy");
        document.body.removeChild(tempElem);

        toastr["success"](copyUrl, "복사완료");
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "500",
            "hideDuration": "700",
            "timeOut": "700",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    }
</script>


<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>