<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>S3 파일 업로드 테스트</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>

    <style>
        .drag-img {

        }

    </style>

</head>

<body>
<h1>파일 업로드</h1>
<hr>

<form th:action="@{/gallery}" method="post" enctype="multipart/form-data">
    <div class="drag-img">
        <label for="fileselect">Files to upload:</label>
        <div style="">
            <input type="file" id="fileselect" name="files" multiple="multiple"/>
        </div>
        <div id="filedrag">or drop files here</div>
    </div>
    <button type="submit">등록하기</button>
</form>

<div id="messages">
</div>

<div id="app"></div>

<div>
    <section>
        <div id="data-container"></div>
        <div id="pagination"></div>
    </section>
</div>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.724.0.min.js"></script>
<script th:src="@{/js/app.js}"></script>
<script>
    function getHtml(template) {
        return template.join('\n');
    }

    // viewAlbum();
</script>

<script th:src="@{/js/filedrag.js}"></script>
<script>
    $(function () {
        viewAlbum("test", (result) => {
            data = new Array();
            for (var i = 0; i < result.length; i++) {
                data.push({name: result[i]});
            }
            let container = $('#pagination');
            container.pagination({
                dataSource: data,
                callback: function (data, pagination) {
                    var dataHtml = '<ul>';
                    $.each(data, function (index, item) {
                        dataHtml += '<li>';
                        dataHtml += '<img width="100px" height="200px;" src = "' + item.name + '">';
                        dataHtml += item.name;
                        dataHtml += '</li>';
                    });
                    dataHtml += '</ul>';
                    $("#data-container").html(dataHtml);
                }
            })
        })
    })
</script>

</body>
</html>